<h1>Cześć <%= @order.name %></h1>

<h2>Dziekujemy za zlozenie zamowienia.
  Twoja lista zamowionych produktów :</h2>

<p><%= render @order.line_items %></p>
<p>Wkrótce skontaktujemy sie z państwem </p>

