@import "bootstrap";



/* unversal */
body {
  padding-top: 60px;
}







/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-top: 7px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: red;
    text-decoration: none;
  }
}